<style>
  .head-block {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    text-align: center;
  }
  .head-inline:first-child {
    margin-left: auto;
    margin-right: auto;
  }
  .body-inline {
    display: inline-block;
  }
</style>
<html>
<head>
  <div class="head-block">
    <div class="head-inline">
      <h1>Blog posts</h1>
    </div>
    <div class="head-inline">
      <p>{{ user.username }}</p>
      <p><a href="/create_post/">Create post</a></p>
      <p><a href="/?filter_info=1">My blog</a></p>
      <p><a href="/?filter_info=2">Subscriptions</a></p>
      <p><a href="/">All</a></p>
    </div>
  </div>
</head>
<body>
{% block content %}
{% if posts %}
<div>
  <ul>
    {% for post in posts %}
    <li>
      <h2>{{ post.title }}</h2>
    </li>
    {{ post.text }}
    <br><br>
    <div class="body-inline">
      {{ post.user_profile.user.username }}
    </div>
    <p class="body-inline"><a href="/action/?action=1&name={{ post.user_profile.user.username }}">Subscribe</a></p>
    <p class="body-inline"><a href="/action/?action=2&id={{ post.pk }}">Hide</a></p>
    <br>
    {{ post.pub_date }}
    {% endfor %}
  </ul>
</div>
{% else %}
<p>There are no posts.</p>
{% endif %}
{% endblock %}
</body>
</html>